@using System.Web;
@model ACReditPlus_Scan_Issues_Fix.Models.ApplicationSummaryStepModel

@{
	ViewData["Title"] = "Home Page";
}

<script type="text/javascript">
	$(document).ready(function () {
		$(".openUnitDialog").on("click", function (e) {
			e.preventDefault();
			$("<div></div>")
				.addClass("dialog")
				.attr("id", $(this).attr("data-dialog-id"))
				.appendTo("body")
				.dialog({
					maxHeight: window.innerHeight * 0.75,
					resizable: true,
					close: function () { $(this).remove() },
					modal: true,
					height: 750,
					width: 800,
					position: { my: "top", at: "top+115", of: window },
				})
				.load(encodeURIComponent(this.href));
		});
	});
</script>

<div class="text-center">
    <h1>@Html.Raw(Model.HeaderText)</h1>
	@*<h1>@Html.Raw(HttpUtility.HtmlDecode(Model.HeaderText))</h1>*@

    @Json.Serialize(Model).ToString()

    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
